@using PersonalShop.BusinessLayer.Services.Products.Dtos;
@model CreateProductDto

@{
    ViewData["Title"] = "Add Product";
}
<h1>Add Product</h1>

<h4>Product Details</h4>
<hr />
<form asp-action="AddProduct" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label>
                <input name="Image" class="form-control" type="file" required>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" min="0" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-6">
            <div id="categoryContainer" class="border p-3">Loading...</div>
            <br/>
            <div id="tagContainer" class="border p-3">Loading...</div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="user" asp-action="Products">Back to List</a>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#categoryContainer").load("/Categories/GetCategoriesPartial");
        $("#tagContainer").load("/Tags/GetTagsPartial");
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
